body {
    background-color: rgb(141, 255, 143);
}

.model {
    font: italic 1em Arial;
    color: rgb(0, 0, 0);
    background-color:rgb(0, 112, 2);
    padding: 2% 0%;
    text-align: center;
    margin: 2% 30%;
    border-radius:30px;
    background-image: url("https://www.color-stickers.com/2742-large_default/stickers-coin-de-cadre-encadrement-florale.jpg");
    background-size: 100% 100%;
}

.titre {
    display:flex;
    justify-content: center;
    font: bold 2em Arial;
    color: white;
    background-color:rgb(0, 112, 2);
    padding: 2% 0%;
    text-align: center;
    margin: 0% 0%;
}

.paragraphe {
    font: 1em Cursive;
    color: white;
    background-color:rgb(0, 112, 2);
    padding: 10% 20%;
    text-align: left;
    margin: 2% 10%;
    border-radius:50px;
    background-size: 100% 100%;
}


@media screen and (max-width: 800px) {
    .sommaire {
        display:block;
        max-width: 400px;     
        margin: 5% 20%;   
    }
}

@media screen and (min-width: 801px) and (max-width: 2000px) {
    .sommaire {
        display:flex;
        justify-content: space-evenly;
        min-width: 700px;
        margin: 5% 10%;
    }
}

.sommaire {
    font: italic 1.5em Arial;
    background-color:rgb(0, 112, 2);
    padding: 2% 0%;
    text-align: center;
    border-radius:30px;
}

.sommaire li {
    list-style-type: none;
}

.sommaire a {
    display: block;
    min-width:200px;
    margin: 3rem 5%;
    padding: 0.4rem 0;
    text-align:center;
    background-color: rgb(0, 105, 2);
    color:white;
    text-decoration:none;
    border: 1px solid #538400;
    border-radius:4px;
    transition:all 1.5s;
}

.sommaire a:hover {
    background-color: rgb(0, 192, 3);
    border:1px solid rgb(157, 255, 72);
    color: rgb(0, 0, 0);
}